[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
google-cloud-datastore = "*"
gunicorn = "*"
setuptools = "*"
testingchat = {editable = true,path = "."}
dialogflow = "*"
flask-cors = "*"
honcho = "*"
flask-assistant = "*"
google-cloud-logging = "*"

[requires]
python_version = "3.7"
